# Ignorar arquivos gerados pelo Node.js
node_modules/
npm-debug.log*

# Ignorar arquivos de build
build/
dist/
*.min.js

# Ignorar arquivos temporários
*.swp
*.swo
*.DS_Store
Thumbs.db

# Ignorar arquivos de configuração
.env
config.js

# Ignorar Logs
src/Logs/*.log

# Ignorar TMP
**/tmp/*

# Testes
coverage/